.App {
  text-align: center;
}

.Block{
  background-color: red;
  width: 100px;
  height: 100px;
  margin: auto;
  transition: all 1s ease-out;
}

.BlockOpen{
  animation: openBlock 1s ease-out forwards;
}

.BlockClose{
  animation: closeBlock 1s ease-out forwards;
}

@keyframes openBlock {
  0%{
      opacity: 0;
      transform: translateY(-100%);
  }

  50%{
      opacity: 1;
      transform: translateY(20%);
  }
  
  100%{
      opacity: 1;
      transform: translateY(0%);
  }
}

@keyframes closeBlock {
  0%{
      opacity: 1;
      transform: translateY(0%);
  }

  50%{
      opacity: 0.8;
      transform: translateY(60%);
  }
  
  100%{
      opacity: 0;
      transform: translateY(-100%);
  }
}